<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = 'text/css' href="/styles/styles.css" />
    <title>Home Page</title>
</head>
<body>

    <div class="topSection">
        
        <!-- TOP NAVBAR SECTION -->
        <div class="topNavbar">
            <div class="topNavbar__container">
                <div class="topNavbar__item">
                    <div class="topNavbar__logo">
                        <a href="intspecialist.html">
                            <img src="https://i.ibb.co/RDsbyHN/deskspace-wht.png" alt="deskspace-3-1" border="0" id="navbar__logo" style="height: 60px;"></a>
                    </div>    
                </div>

                <div class="profile__container">
                    <a href="account.html" class="profile__item" id="profile-username">
                        
                        <p id="username"><%=loggeduser%></p>
                        <!--This is James part
                        -->
                        <!-- <?php
                            echo '<p id="username">'. $uname .'</p>'
                        ?> -->
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="main__section">

        <!-- SIDE NAVBAR SECTION -->
        <div class="navbar">
            <div class="navbar__container">
                <ul class="navbar__menu">
                    <a href="index.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-home"></i></p>
                            <p class="navbar__links">Home</p>
                        </li>
                    </a>   
                    <a href="faq.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-plus"></i></p>
                            <p class="navbar__links">Problem Resolutions</p>
                        </li>
                    </a>           
                    <a href="account.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-user"></i></p>
                            <p class="navbar__links">Account</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- FAQ TABLE SECTION -->
        <div class="mainSection__container" id="ticketList-container">
            
            <div class="table-detail__section">
                <div class="table-title__container">
                    <h5 class="table-title">Problem Resolutions</h5> 
                    <span class="total-tickets">
                   
                    </span>   
                </div>
            </div>
            <table class="ticket__table op-ticket-table" id="table-info">
                <thead id="headers">
                    <tr>
                        <th>FAQ</th> 
                        <th>Problem Type</th>     
                        <th>Problem Item</th> 
                    </tr>
                </thead>

                <tbody class="ticket-body op-ticket-body">
                    <% for(var i=0; i < dropdownVals.length; i++) { %>
                        <tr>
                            <td><%=dropdownVals[i].problem_description%></td>
                            <td><%=dropdownVals[i].prob_name%></td>
                            <td><%=dropdownVals[i].name%></td>
                                        
                     <% } %>
                        </tr>
                </tbody>
            </table>

            <br>

            <div>
                <button type="button" class="form-btn" id="add-btn" style="color:black; background-color: #afb5f7;">Add Ticket</button>
            </div>

            <div>
                <button type="button" class="form-btn" id="cancel-btn" style="color:black; background-color: #afb5f7; display: none;">Cancel Ticket</button>
            </div>

            <div>
            <!--method="post" action="/..." class="form__content"-->
                <div class="AddTicketContainer" style="display: none;">
                    <label class="required" for="employee_name">Employee Name</label>
                    <div>
                        <input type="text" id="employee_name" class="no-edit-field" value="" readonly>
                    </div>

                    <br>

                    <label for="status">Status</label>
                    <div>
                        <input type="text" id="status" class="edit-field" value="active" readonly>
                    </div>

                    <br>

                    <label class="required" for="priority">Priority</label>
                    <div>
                        <input type="text" id="priority" class="edit-field" list="priority-list" value="" required>
                    </div>
                    <datalist id="priority-list">
                        <option>high</option>
                        <option>medium</option>
                        <option>low</option>
                    </datalist>
                    <span class="validation_error" id="priority-error"></span>

                    <br>
                    
                    <label for="description">Problem Description</label>
                    <div>
                    <textarea type="text" id="description" maxlength = "300" class="edit-field" rows="5" style="width: 100%;"></textarea> 
                    <div id = 'remaining_chars' style="text-align: right;">300 characters remaining</div>
                    </div>
                    <br>
                    <label for="notes">Notes</label>
                    <div>
                    <textarea type="text" id="notes" maxlength = "1000" class="edit-field" rows="5" style="width: 100%;"></textarea>
                    <div id = 'notes_remaining_chars' style="text-align: right;">1000 characters remaining</div>
                    </div>
                    <br>

                    <label for="handler-name">Handler Name</label>
                    <div>
                        <input type="text" id="handler-name" class="edit-field" list="handler-names" value="" required>
                    </div>
                    <datalist id="handler-names">
                        <% for(var i=0; i < handler_vals.length; i++) { %>
                            <option value = <%=handler_vals[i].name%> Tickets>Handling <%=handler_vals[i].tickets%> Tickets</option>                                            
                        <% } %>
                    </datalist>

                    <br>

                    <label for="operating-system">Operating System </label>  
                    <div>
                        <input type="text" id="operating-system" class="edit-field" list="new-operating-systems" value="" required>
                    </div>
                    <datalist id="new-operating-systems">

                        <% for(var i=0; i < operating_sys.length; i++) { %>
                            <option><%=operating_sys[i].name%></option>                                            
                        <% } %>
                    </datalist>
                    <span class="validation_error" id="operating-system-error"></span>

                    <br>

                    <label for="hardware-id">Hardware ID</label>  
                    <div>
                        <input type="text" id="hardware-id" class="edit-field" list="hardware-numbers2" value="" required>
                    </div>
                    <datalist id="hardware-numbers2">

                        <% for(var i=0; i < hardwareids.length; i++) { %>
                            <option><%=hardwareids[i].hardware_id%></option>
                        
                                    
                        <% } %>
                    </datalist>
                    <span class="validation_error" id="hardware-id-error"></span>
                    

                    <br>

                    <label for="software">Software Name</label>  
                    <div>
                        <input type="text" id="software" class="edit-field" list="software-list" value="" required>
                    </div>
                    <datalist id="software-list">
                        <% for(var i=0; i < software_vals.length; i++) { %>
                            <option><%=software_vals[i].name%></option>                                            
                        <% } %>
                    </datalist>
                    <span class="validation_error" id="software-error"></span>
                    <br>
                
                    <label class="required" for="problem-type">Problem Type</label>
                    <div>
                        <input type="text" id="problem-type" class="edit-field" list="problem-types" value="" required>  
                        <datalist id="problem-types">
                            <% for(var i=0; i < probtype_vals.length; i++) { %>
                                <option><%=probtype_vals[i].name%></option>                                            
                            <% } %>
                        </datalist>
                        <span class="validation_error" id="problem-type-error"></span>
                    </div>

                    <br>

                    <div>
                        <button type="submit" class="submitTicket" id="submitTicket" style="color:black; background-color: #afb5f7;">Submit Ticket</button>
                    </div>

                </div>
            </div>
        
        </div>

        <div class="mainSection__container" id="ticket-info">
            <!-- TICKET INFORMATION HEADER SECTION (display: none)  -->
            <div class="header__container" id="info-headers">
                <div class="header__wrapper">
                    <div class="header-wrapper">
                        <div class="info-item">
                            <a href="faq.html" id="back-btn"><i class="fas fa-arrow-left"></i></a>
                        </div>   
                    </div>
                    <!-- <div class="information__title">
                        <h2>FAQ Answer</h2>
                    </div>  -->

                </div>
                <div class="information__title">
                    <h2>FAQ Answer</h2>
                </div> 
            </div>
            <div class="faq_answer"> <!--style="background-color: var(--secondaryColor); box-shadow: 0 0 6px;
            display: flex; flex-direction: column; padding: 20px 20px;"> -->

                <span class="validation_error" id="software-error"></span>
                <label for="description">FAQ Description</label>
                <textarea type="text" id="description" maxlength = "300" class="no-edit-field" rows="5" value="" readonly></textarea> 
                <!-- <div id='remaining_chars'>300 characters remaining</div> -->
    
                <br>
                
                <label for="notes">Notes</label>  
                <textarea type="text" id="notes" maxlength = "1000" class="no-edit-field" rows="5" value="" readonly></textarea>
                <!-- <div id='notes_remaining_chars'>1000 characters remaining</div> -->
        
                <br>
               
                <label for="problem-type">Problem Type</label>
                <input type="text" id="problem-type" class="edit-field" list="problem-types" value="" readonly>  
                <datalist id="problem-types">
                <!-- <?php
                $problems = get_problem_types(true, false);
                foreach ($problems as $problem) {
                    echo "<option value=\"" . $problem['name'] . "\">";
                }
                ?> -->

                </datalist>
                
                <br>
            
                <label for="solution" class="solution">Solution</label>
                <textarea type="text" id="solutionBox" class="no-edit-field" rows="5" value="" readonly></textarea>
                
            </div>
        </div>

        <footer>
            <p class="center">&#169; 2022 Team 5</p>
        </footer>
    </div>

    <!-- <script src="scripts/app.js">
        $(document).ready(function () {
            $(document.body).on("click", "#navbar__logo", function(e) {
                e.preventDefault();
                $("#ticketList-container").css("display", "flex")
        
                $("#ticket-info").css("display", "none")
                $("#info-headers").css("display", "none")
            });
        });
    </script> -->

    <script src="/scripts/faq.js"></script>
    <script src="/scripts/function.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>
