<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
    <link rel="stylesheet" type = 'text/css' href="/styles/styles.css" />

    <title>Home Page</title>
</head>
<body>

    <div class="topSection">
        
        <!-- TOP NAVBAR SECTION -->
        <div class="topNavbar">
            <div class="topNavbar__container">
                <div class="topNavbar__item">
                    <div class="topNavbar__logo">
                        <a href="index.html" id="navbar__logo">Deskspace</a>
                    </div>    
                    <div class="topNavbar__search" id="search-div">
                        <div class="search__container">
                            <form>
                                <button class = "searchButtons" id="filter-btn"><i class="fas fa-sliders-h"></i></button>
                                <input class="searchInput" type="text" placeholder="Search Ticket">
                                <button class="searchButtons" type="button" id="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- Search Filters -->
                        <div class="dropdownFilters">
                            <p class= "filter-tag">Status</p>
        
                            <select id ="filter-status" name="status" class="filter-status">
                                <option value="all">All</option>
                                <option value="closed">Closed</option>
                                <option value="active">Active</option>
                                <option value="submitted">Submitted</option>
                                <option value="dropped">Dropped</option>
                            </select>
                            <p class= "filter-tag">Ticket ID</p>
                            <input type="text" class="filter-search" id ="filter-id">
                            <p class= "filter-tag">Problem Type</p>
                            <input type="text" class="filter-search" id ="filter-type">
                            <p class= "filter-tag">Caller Name</p>
                            <input type="text" class="filter-search" id ="filter-cname">
                            <p class= "filter-tag">Handler Name</p>
                            <input type="text" class="filter-search" id ="filter-sname">
                            <p class= "filter-tag filter-date1">Last Updated Range</p>
                            <div class="input-date1">
                                <input id = "date1" type="date" data-date-inline-picker="true" name="date-search1" class="filter-search input-date-created" placeholder="Created">
                                <div class="date__dropdown dropdown1"></div>
                            </div>
                            <div class="input-date2">
                                <input id = "date2" type="date" data-date-inline-picker="true" name="date-search2" class="filter-search input-date-closed" placeholder="Closed">
                                <div class="date__dropdown dropdown2"></div>
                            </div>
                            <select id ="filter-custom" name="custom" class="filter-status">
                                <option value="employee_id">Employee ID</option>
                                <option value="operator_id">Operator ID</option>
                                <option value="handler_id">Handler ID</option>
                                <option value="operating_system">OS</option>
                                <option value="number_of_drops">No. of Drops ></option>
                                <option value="softw_name">Software</option>
                                <option value="hardw_name">Hardware</option>
                            </select>
                            <input type="text" class="filter-search" id ="filter-custom-value">
                            <div id="none-found" style="display:none;">
                                No Results Found
                            </div>
                            <div class="dropdown-button-wrapper">
                                <button class="dropdown-btn">Search</button>
                            </div>
                        </div>        
                    </div>
                </div>

                <div class="profile__container">
                    <a href="employee_account.html" class="profile__item" id="profile-username">

                        <p id="username">Account</p>
                        <!--This is James part
                        -->
                        <!-- <?php
                            echo '<p id="username">'. $uname .'</p>'
                        ?> -->
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="main__section">

        <!-- SIDE NAVBAR SECTION -->
        <div class="navbar">
            <div class="navbar__container">
                <ul class="navbar__menu">
                    <a href="index.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-home"></i></p>
                            <p class="navbar__links">Home</p>
                        </li>
                    </a>
                    <a href="faq.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-plus"></i></p>
                            <p class="navbar__links">Problem Resolutions</p>
                        </li>
                    </a>           
                    <a href="employee_account.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-user"></i></p>
                            <p class="navbar__links">Account</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- TICKET TABLE SECTION -->
        <div class="mainSection__container" id="ticketList-container">
            
            <div class="table-detail__section">
                <div class="table-title__container">
                    <h5 class="table-title">Tickets</h5> 
                    <span class="total-tickets">
        
                    </span>   
                </div>
            </div>
            <table class="ticket__table op-ticket-table" id="table-info">
                <thead id="headers">
                    <tr>
                        <th>Status</th> 
                        <th>ID</th> 
                        <th>Problem Type</th>     
                        <th>Last Updated</th> 
                        <th>Handler</th> 
                    </tr>
                </thead>

                <tbody class="ticket-body employee-ticket-body">
        
                    <% for(var i=0; i < dropdownVals.length; i++) { %>
                        <tr>
                            <td class=<%=dropdownVals[i].status%>><span class="t-status"><%=dropdownVals[i].status%></span></td>
                            <td><%=dropdownVals[i].ticket_id%></td>
                            <td><%=newdropdownVals[i].name%></td>
                            <td id = 'lastUpdated'><%=dropdownVals[i].last_updated%></td>
                            <td><%=dropdownVals[i].name%></td>
                                        
                     <% } %>
                        </tr>
            
                </tbody>
            </table>
    
        </div>

        <div class="mainSection__container" id="ticket-info">
            <!-- TICKET INFORMATION HEADER SECTION (display: none)  -->
            <div class="header__container" id="info-headers">
                <div class="header__wrapper">
                    <div class="header-wrapper">
                        <div class="info-item">
                            <a href="index.html" id="back-btn"><i class="fas fa-arrow-left"></i></a>
                        </div>   
                    </div>
                    <div class="information__title">
                        <h2>Ticket Information</h2>
                    </div> 

                </div>
            </div>    
            <div class="mainSection__wrapper">
                    <div class="ticketInformation__container">
                        <div class="details__container">
                        <table class="details__table">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody class = "detail-headers">
                               
                                <tr>
                                    <th id="detail-status"><span class="t-status"></span></th>
                                    <th id="detail-id"></th>
                                </tr>
                        
                            </tbody>
                        </table> 
                        </div>
                        <div class="ticket__information">                            
                            <button class="info-edit-btn" id="edit-btn">Edit</button>
                           
                            <label for="Priority">Priority</label>
                            <input type="text" id="priority" class="edit-field" value="" readonly>
                            <span class="validation_error" id="hardware-id-error"></span>
                            <label for="hardware-type">Hardware ID</label>
                            <input type="text" id="hardware-id" class="edit-field" value="" readonly>
                            <label for="hardware-type">Hardware Manufacturer</label>
                            <input type="text" id="hardware-type" class="no-edit-field" value="" readonly>
                            <label for="hardware-model">Hardware Model</label>
                            <input type="text" id="hardware-model" class="no-edit-field" value="" readonly>
                            <label for="hardware-make">Hardware Make</label>
                            <input type="text" id="hardware-make" class="no-edit-field" value="" readonly>
                            <label for="operating-system">Operating System</label>
                            <input type="text" id="operating-system" class="edit-field" list="operating-systems" value="" readonly>
                            <datalist id="operating-systems">
                        
                            </datalist>
                            <span class="validation_error" id="operating-system-error"></span>
                            <label for="software">Software</label>
                            <input type="text" id="software" class="edit-field" value="" list="software-list" readonly>
                            <datalist id="software-list">
                          
                            </datalist>
                            <span class="validation_error" id="software-error"></span>
                            <label for="description">Problem Description</label>
                            <textarea type="text" id="description" maxlength = "300" class="edit-field" rows="5"></textarea> 
                            <div id = 'remaining_chars' >300 characters remaining</div>
                            <label for="notes">Notes</label>
                            <textarea type="text" id="notes" maxlength = "1000" class="edit-field" rows="5"></textarea>
                            <div id = 'notes_remaining_chars' >1000 characters remaining</div>
                            <label for="problem-type">Problem Type</label>
                            <input type="text" id="problem-type" class="edit-field" list="problem-types" value="" readonly>  
                            <datalist id="problem-types">
                    
                            </datalist>
                            <span class="validation_error" id="problem-type-error"></span>
                            <label for="handler-name">Handler Name</label>
                            <input type="text" id="handler-name" class="edit-field" value="" readonly>
                            <span class="validation_error" id="handler-name-error"></span>
                            <label for="solution" class="closed__field">Solution</label>
                            <textarea type="text" id="solution" class="closed__field no-edit-field" rows="5"></textarea>
                            <label for="close-time" class="closed__field">Time closed</label>
                            <input id="close-time" name="close-time" class="closed__field no-edit-field" type="text" value="">
                            
                        </div>
                        
                        <div class="update__section">
                            <hr>
                            <div class="section-container update__container">
                                <button type="button" class="form-btn" id="update-btn">Update</button>
                            </div>
                        </div>
                        
                    </div>

            </div>    
        
            <div class="closeForm__section">
                <div class="closeForm__wrapper tile">
                    <p>Solution Form</p>
                    <div class="solution__wrapper">
                        <div class="topSolution__section">    
                            <div class="solution__label">
                                <p class="solution-status"></p>
                            </div>

                            <div class="solution_button_wrapper">
                                <div class="solution__buttons">
                                    <button type="button" class="form-btn" id="editSolution-btn">edit</button>
                                </div>
                                <div class="solution__buttons discard-solution">
                                    <button type="button" class="form-btn" id="dropSolution-btn">Discard Solution</button>
                                </div>
                                <div class="solution__buttons previous-solution">
                                    <button type="button" class="form-btn" id="previousFix-btn">Previous fixes</button>
                                </div>
                            </div>
                        </div>
                        <div class="previous-fixes-header pf-head1">
                                        <h3>Previous Fixes</h3>
                                        <button type="button" class="form-btn" id="goback-btn"><i class="fas fa-arrow-left"></i></button>
                                        <button type="button" class="previous-fixes-filter device-filter">This device</button>
                                        <button type="button" class="previous-fixes-filter model-filter">Make and Model</button>
                                        <button type="button" class="previous-fixes-filter software-filter">Software</button>
                                        <button type="button" class="previous-fixes-filter problem-type-filter">Problem Type</button>
                        </div>
                        <div class="solutionArea__section">
                            <div class="solutionInput__wrapper">
                                <textarea name="solution" id="solution-area" maxlength = "500" cols="60" rows="10" placeholder="Type solution..."></textarea>
                                <!-- Previous Fixes -->
                                <div class="previous-fix__container">
                                </div>       
                            </div>

                            <div class="dropSolution__section">
                                <div class="checkbox__section"> 
                                    <label class="checkbox__container">Caller has been given the solution
                                        <input type="checkbox" id="myCheckbox">
                                        <span class="checkmark unchecked"><i id="check-state" class="fas fa-check"></i></span>
                                    </label> 
                                </div>
                            </div>
                        </div>
                        <div class="close__border">
                            <hr>
                            <div class="section-container update__container closeButton">
                                <button type="button" class="form-btn" id="close-btn">Close Ticket</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <footer>
            <p class="center">&#169; 2022 AHS</p>
        </footer>
    </div>

    
    <script src="/scripts/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
</body>
</html>