<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="/styles/styles.css" />
    <script type="text/javascript" src="public/scripts/home_charts.js"></script>
    <title>Analyst In-Depth Page ejs</title>
</head>

<body>
    <div class="topSection">

        <!-- TOP NAVBAR SECTION -->
        <div class="topNavbar">
            <div class="topNavbar__container">
                <div class="topNavbar__item">
                    <div class="topNavbar__logo">
                        <a href="analyst.html">
                            <img src="https://i.ibb.co/RDsbyHN/deskspace-wht.png" alt="deskspace-3-1" border="0" id="navbar__logo" style="height: 60px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main__section">

        <!-- SIDE NAVBAR SECTION -->
        <div class="navbar">
            <div class="navbar__container">
                <ul class="navbar__menu">
                    <a href="analyst.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-home"></i></p>
                            <p class="navbar__links">Home</p>
                        </li>
                    </a>
                    <a href="indepth.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-plus"></i></p>
                            <p class="navbar__links">In-Depth</p>
                        </li>
                    </a>
                    <a href="/account.html" class="navbar__item-div">
                        <li class="navbar__item">
                            <p><i class="fas fa-user"></i></p>
                            <p class="navbar__links">Account</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- CHART SECTION -->
        <div>
            <h1 style="text-align: center; padding-top: 20px; ">In-Depth Data</h1>
            <div class="row_analyst">
                <div class="column_analyst">
                    <div class="card">
                        <h2 style="text-align: center;padding-top: 25px; padding-bottom: 25px;">Active tickets per
                            specialist</h2>
                        <!--chart-->

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="myChart" width="300" height="300" style="margin: 0 auto;"></canvas>
                        <script>
                            var Data = JSON.parse(`<%- JSON.stringify(dat1) %>`);
                            var labelsData = [];
                            var datapoints = [];
                            for (var i = 0; i < Data.length; i++) {
                                labelsData.push(Data[i].name);
                                datapoints.push(Data[i].count);
                            }
                            
                            const ctx = document.getElementById('myChart').getContext('2d');
                            const myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labelsData,
                                    datasets: [{
                                        
                                        data: datapoints,
                                        backgroundColor: ["#3e95cd",  "#3cba9f",  "#ff6384",  "#36a2eb",  "#cc65fe",  '#ffce56', "#3e95cd", "#3cba9f",  "#ff6384",  "#36a2eb"],                                       
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: {
                                            grid: {
                                                display: false,
                                            }
                                        },
                                        y: {
                                            title: { text: "Number of Tickets", display: true },
                                            grid: {
                                                display: false,
                                            }
                                        }
                                    }

                                }

                            });
                        </script>

                        <p class="chartp"></p>
                    </div>

                    <div class="card">
                        <h2 style="text-align: center;padding-top: 25px;padding-bottom: 25px;">Closed tickets per
                            specialist</h2>
                        <!--chart-->

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="myChart2" width="300" height="300" style="margin: 0 auto;"></canvas>
                        
                        <script>
                            var Data = JSON.parse(`<%- JSON.stringify(dat4) %>`);
                            var labelsData = [];
                            var datapoints = [];
                            for (var i = 0; i < Data.length; i++) {
                                labelsData.push(Data[i].name);
                                datapoints.push(Data[i].count);
                            }
                            
                            const ctxx = document.getElementById('myChart2').getContext('2d');
                            const myChart2 = new Chart(ctxx, {
                                type: 'bar',
                                data: {
                                    labels: labelsData,
                                    datasets: [{
                                       
                                        data: datapoints,
                                        backgroundColor: ["#3e95cd",  "#3cba9f",  "#ff6384",  "#36a2eb",  "#cc65fe",  '#ffce56', "#3e95cd", "#3cba9f",  "#ff6384",  "#36a2eb"],                                       

                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: {
                                            grid: {
                                                display: false,
                                            }
                                        },
                                        y: {
                                            title: { text: "Number of Tickets", display: true },
                                            grid: {
                                                display: false,
                                            }
                                        }
                                    }

                                }

                            });
                        </script>

                        <p class="chartp"></p>
                    </div>

                    <div class="card">
                        <h2 style="text-align: center;padding-top: 25px; padding-bottom: 25px;">Ticket Requests from
                            employees</h2>
                        <!--chart-->

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="myChart13" width="300" height="300" style="margin: 0 auto;"></canvas>
                        
                        <script>
                            var Data = JSON.parse(`<%- JSON.stringify(dat13) %>`);
                            var labelsData = [];
                            var datapoints = [];
                            for (var i = 0; i < Data.length; i++) {
                                labelsData.push(Data[i].name);
                                datapoints.push(Data[i].count);
                            }

                            const ctxxxx = document.getElementById('myChart13').getContext('2d');
                            const myChart13 = new Chart(ctxxxx, {
                                type: 'bar',
                                data: {
                                    labels: labelsData,
                                    datasets: [{
                                       
                                        data: datapoints,
                                        backgroundColor: ["#3e95cd",  "#3cba9f",  "#ff6384",  "#36a2eb",  "#cc65fe",  '#ffce56', "#3e95cd", "#3cba9f",  "#ff6384",  "#36a2eb"],                                       

                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: {
                                            grid: {
                                                display: false,
                                            }
                                        },
                                        y: {
                                            title: { text: "Number of tickets", display: true },
                                            grid: {
                                                display: false,
                                            }
                                        }
                                    }

                                }

                            });
                        </script>

                        <p class="chartp"></p>
                    </div>
                </div>



                <div class="column_analyst">
                    <div class="card">

                        <h2 style="text-align: center;padding-top: 25px;padding-bottom: 25px;">Dropped tickets per
                            specialist</h2>
                        <!--chart-->

                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="myChart3" width="300" height="300" style="margin: 0 auto;"></canvas>
                        
                        <script>
                            var Data = JSON.parse(`<%- JSON.stringify(dat7) %>`);
                            var labelsData = [];
                            var datapoints = [];
                            for (var i = 0; i < Data.length; i++) {
                                labelsData.push(Data[i].name);
                                datapoints.push(Data[i].count);
                            }
                            
                            const ctxxx = document.getElementById('myChart3').getContext('2d');
                            const myChart3 = new Chart(ctxxx, {
                                type: 'bar',
                                data: {
                                    labels: labelsData,
                                    datasets: [{
                                      
                                        data: datapoints,

                                        backgroundColor: ["#3e95cd",  "#3cba9f",  "#ff6384",  "#36a2eb",  "#cc65fe",  '#ffce56', "#3e95cd", "#3cba9f",  "#ff6384",  "#36a2eb"],                                       
                                        
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: false,
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: {
                                            grid: {
                                                display: false,
                                            }
                                        },
                                        y: {
                                            title: { text: "Number of Tickets", display: true },
                                            grid: {
                                                display: false,
                                            }
                                        }
                                    }

                                }

                            });
                        </script>

                        <p class="chartp"></p>
                    </div>
                    <div class="card">
                        <h2 style="text-align: center; padding-top: 25px;padding-bottom: 25px;">Problem Types</h2>


                        


                        <canvas id="pie-chart" width="300" height="300" style="margin: 0 auto;"></canvas>
                        <script>
                            var Data = JSON.parse(`<%- JSON.stringify(dat10) %>`);
                            var labelsData = [];
                            var datapoints = [];
                            for (var i = 0; i < Data.length; i++) {
                                labelsData.push(Data[i].name);
                                datapoints.push(Data[i].no);
                            }
                            new Chart(document.getElementById("pie-chart"), {
                                type: 'pie',
                                data: {
                                    labels: labelsData,
                                    datasets: [{
                                        backgroundColor: ["#3e95cd",  "#3cba9f",  "#ff6384",  "#36a2eb",  "#cc65fe",  '#ffce56', "#3e95cd", "#3cba9f",  "#ff6384",  "#36a2eb"],                                       
                                        data: datapoints
                                    }]
                                },
                                options: {

                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    }


                                }
                            });</script>
                        <p class="chartp"></p>
                    </div>

                    <div class="card">
                        <h2 style="text-align: center; padding-top: 25px;padding-bottom: 25px;">Internal Vs External
                            tickets</h2>


                            <table class="ticket__table op-ticket-table" id="table-info" style=" margin: auto;width: 50%;">
                                <thead id="headers">
                                    <tr>
                                        <th>Internal</th> 
                                        <th>External</th> 
                                    </tr>
                                </thead>
                
                                <tbody class="ticket-body employee-ticket-body">
                                   
                                        <tr>
                                            <td>2</td>
                                            <td>1</td>
                                                        
                                     
                                        </tr>
                
                                </tbody>
                            </table>

                        
                        <p class="chartp"></p>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <footer>
        <p class="center">&#169; 2022 Team 5</p>
    </footer>

    </div>

</html>